*
!*.*
!*/
!Makefile
!LICENSE
!Dockerfile
!GNUmakefile
terraform.tfplan
terraform.tfstate
terraform.tfvars
*.backup
*.tfstate.*
.testCoverage.txt
*.test
bin
.env
.terraform
.terraform.lock.hcl
.DS_STORE
.idea
.vscode
dist/
